
@if (DateTime.IsLeapYear(DateTime.Now.Year))
{
    <p>
        @DateTime.Now.Year je prijestupna godina :)
    </p>
}
else
{
    <p>
        @DateTime.Now.Year nije prijestupna godina :(
    </p>
}

