
@{
    int broj = 7;
}

@{
    string poruka = "Dobro došli :)";
}

<p>Broj koji je odabran je @broj </p>
<p>Poruka pozdrava: @poruka </p>

<h2 class="text-center">@DateTime.Now.ToShortDateString()</h2>