@model MVC_racuni.Models.Racun

@{
    ViewData["Title"] = "Izmjena računa";
}

<h1>Izmjena računa</h1>

<div>
    <h4>Račun</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BrojRacuna)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BrojRacuna)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DatumIzdavanja)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DatumIzdavanja)
        </dd>
    </dl>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
