@model MVC_racuni.Models.Racun

@{
    ViewData["Title"] = "Unos novog računa";
}

<h1>Novi Račun</h1>

<h4>Račun</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="NoviRacun">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input asp-for="Id" type="hidden" class="form-control" />
            <div class="form-group">
                <label asp-for="BrojRacuna" class="control-label"></label>
                <input asp-for="BrojRacuna" class="form-control" />
                <span asp-validation-for="BrojRacuna" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DatumIzdavanja" class="control-label"></label>
                <input asp-for="DatumIzdavanja" class="form-control" />
                <span asp-validation-for="DatumIzdavanja" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Kreiraj novi račun" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Natrag na popis računa</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
